.article-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 120px;
}

.article-page-container .article-page-side-nav {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 10vh;
  margin-right: 40px;
}

.article-page-container .article-page-main {
  /* display: inline-block; */
  width: 840px;
}
